{% extends "mypage/base.html" %}

{% block title %}
    sorry，您没有权限访问
{% endblock %}


{% block content %}
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
          | Your Page Content Here |
          -------------------------->
        <div class="callout callout-warning">
            <h4>Permission denied</h4>
            抱歉您没有权限访问该页面
        </div>
    </section>
    <!-- /.content -->
{% endblock %}