{% extends "mypage/base.html" %}

{% block title %}
    角色权限管理
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "bower_components/jquery-ui/css/jquery-ui.min.css" %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            角色权限
            <small>根据URL控制角色权限</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 用户及权限</a></li>
            <li class="active">角色管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
          | Your Page Content Here |
          -------------------------->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body" style="width: 80%">
                        <button type="button" class="btn btn-block btn-info " style="width: 120px" id="create_role"><i
                                class="fa fa-plus" aria-hidden="true"></i>&nbsp;新建关联
                        </button>
                        <hr>
                        <table class="table table-bordered table-striped table-hover" id="role_table">
                            <thead>
                            <tr>
                                <th>角色名称</th>
                                <th>访问的URL</th>
                                <th style="width: 10%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in result_list %}
                                <tr>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.url }}</td>
                                    <td>
                                        <a href="#" onclick="del_role(this)"><i class="fa fa-trash-o"
                                                                                aria-hidden="true"></i></a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            新增权限
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="role_form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">角色名称</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="role_name">
                                        {% for i in role_names %}
                                            <option>{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">URL</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="url_1" name="url"
                                           placeholder="输入框支持模糊匹配">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="role_submit">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </section>
    <!-- /.content -->
{% endblock %}


{% block javascript %}
    <script src="{% static "bower_components/jquery-ui/js/jquery-ui.min.js" %}"></script>
    <script>

        $("#user_manage_li").addClass("active menu-open");
        $("#user_manage_role").addClass("active");

        var url_list = [];
        {% for url in urls %}
            url_list.push("{{ url.url }}");
        {% endfor %}
        $("#url_1").autocomplete({
            source: url_list,
            appendTo: $("#myModal")
        });

        $('#role_table').DataTable({
            'paging': true,
            'ordering': false,
            "searching": true,
            "lengthChange": true,
            'info': true,
            'autoWidth': false
        });

        $('.form-horizontal').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                url: {
                    message: 'url验证失败',
                    validators: {
                        notEmpty: {
                            message: 'url不能为空'
                        },
                    }
                },
            }
        });


        $("#role_submit").click(function () {
            $(".form-horizontal").bootstrapValidator('validate');
            if ($(".form-horizontal").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
                submit();//验证成功后的操作，如ajax
            }
        });


        $("#create_role").click(function () {
            $("#role_form")[0].reset();
            $("#myModal").modal('show');
        });

        function submit() {
            $.ajax({
                type: "post",
                url:{% url "role_add" %},
                data: $("#role_form").serialize(),
                success: function (result) {
                    if (result.result === "success") {
                        swal({
                            text: "策略添加成功!",
                            type: "success"
                        }).then(function (isConfirm) {
                            window.location.reload();
                        });
                    } else {
                        swal({
                            text: result.content,
                            type: "warning"
                        }).then(function (isConfirm) {
                            window.location.reload();
                        });
                    }
                },
                error: function () {
                    swal({
                        text: "出了一些问题请联系管理员",
                        type: "error"
                    }).then(function (isConfirm) {
                        window.location.reload();
                    });
                },
            });
        }

        function update() {
            $("#user_name_edit").removeAttr("disabled")
            $.ajax({
                type: "post",
                url:{% url "user_update" %},
                data: $("#user_form_edit").serialize(),
                success: function (result) {
                    if (result.result === "success") {
                        swal({
                            text: "用户添加成功!",
                            type: "success"
                        }).then(function (isConfirm) {
                            window.location.reload();
                        });
                    } else {
                        swal({
                            text: result.content,
                            type: "error"
                        }).then(function (isConfirm) {
                            window.location.reload();
                        });
                    }
                },
                error: function () {
                    swal({
                        text: "出了一些问题请联系管理员",
                        type: "error"
                    }).then(function (isConfirm) {
                        window.location.reload();
                    });
                },
            });
        }

        function del_role(e) {
            swal({
                title: 'Are you sure?',
                text: "确定要删除这条策略!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                confirmButtonText: '删除'
            }).then(function (isConfirm) {
                let role_name = e.parentNode.parentNode.children[0].innerHTML;
                let url = e.parentNode.parentNode.children[1].innerHTML;
                $.ajax({
                    type: "post",
                    url:{% url "role_del" %},
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        "role_name": role_name,
                        'url': url
                    },
                    success: function (result) {
                        if (result.result === "success") {
                            swal({
                                text: "策略删除成功!",
                                type: "success"
                            }).then(function (isConfirm) {
                                window.location.reload();
                            });
                        } else {
                            swal({
                                text: result.content,
                                type: "error"
                            }).then(function (isConfirm) {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        swal({
                            text: "出了一些问题请联系管理员",
                            type: "error"
                        }).then(function (isConfirm) {
                            window.location.reload();
                        });
                    },
                })
            });
        }

        function edit_user_modal(e) {
            $("#user_form_edit")[0].reset();
            $("#myModal_edit").modal('show');
            $("#user_name_edit").val(e.parentNode.parentNode.children[0].innerHTML);
            $("#nickname_edit").val(e.parentNode.parentNode.children[1].innerHTML);
            $("#sex_edit").val(e.parentNode.parentNode.children[2].innerHTML);
            $("#email_edit").val(e.parentNode.parentNode.children[3].innerHTML);
            $("#isactive_edit").val(e.parentNode.parentNode.children[4].children[0].innerHTML);
            $("#role_edit").val(e.parentNode.parentNode.children[5].innerHTML);
        }

        $('#myModal').on('hide.bs.modal', function (e) {
            $('#role_form').data('bootstrapValidator').resetForm();
        });
    </script>

{% endblock %}