{% extends "mypage/base.html" %}

{% block title %}
    测试权限
{% endblock %}


{% block content %}
<!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                权限管理测试
                <small>测试权限管理功能</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <!--------------------------
              | Your Page Content Here |
              -------------------------->
        </section>
        <!-- /.content -->
{% endblock %}